.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
  }
  .fade-enter-active,
  .fade-exit-active {
    transition: opacity 500ms, transform 500ms;
  }

  .slide-up-enter {
    transform: translateY(0%);
  }

  .slide-up-enter-done {
    transform: translateY(0%);
  }

  .slide-up-exit {
    transform: translateY(100%);
  }

  .slide-up-exit-done {
    transform: translateY(100%);
  }