@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html {
    @apply text-black;
}

input:focus{
    outline: none;
}


.input-label {
    @apply inline-block mb-1;
}

.input-base {
    @apply w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 rounded-lg appearance-none;
    @apply focus:ring-2 focus:ring-cloud-burst-50 focus:ring-offset-2 focus:ring-offset-mirage;
    @apply focus-visible:ring-2 focus-visible:ring-cloud-burst-50 focus-visible:ring-offset-2 focus-visible:ring-offset-mirage;
}

.input-error {
    @apply ring-2 ring-offset-2 ring-offset-mirage ring-red-500;
}

.fade-enter .btn {
    opacity: 0;
    transform: translateX(-100%);
  }

  .fade-enter-active .btn {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit .btn {
    opacity: 1;
    transform: translateX(0%);
}
  .fade-exit-active .btn {
    opacity: 0;
    transform: translateX(100%);
  }

  .student-gradient {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  }

  .anywhere-gradient {
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .liquid-gradient {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  }

